<!doctype html>
<html lang="es" data-bs-theme="dark">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Verflix</title>
        {% endblock %}
        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}
        <link rel="stylesheet" media="screen, print" href="{{ url_for('static', filename='css/site.css') }}">
        <link rel="stylesheet" media="screen, print" href="{{ url_for('static', filename='css/sweetalert2.bundle.css') }}">
        <link rel="stylesheet" media="screen, print" href="{{ url_for('static', filename='css/animate.min.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="{{ url_for('static', filename='js/sweetalert2.bundle.js') }}"></script>
        <script src="{{ url_for('static', filename='js/notifications.js') }}"></script>
        <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
        <style>
            form i {
                margin-left: -30px;
                cursor: pointer;
            }
        </style>
    </head>
    <body class="d-flex flex-column vh-100 bg-dark text-white">
        <header class="p-3 text-bg-dark">
            <div class="container">
              <div class="col d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <img src="{{ url_for('static', filename='images/logo-verflix.png') }}" title="Ir a Inicio" height="60">
                </a>
                <div class="col dropdown text-end">
                    <div class="btn-group">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{ url_for('static', filename='images/avatar-m.png') }}" title="" width="32" height="32" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small">
                            {% if usr %}
                            <li><a class="dropdown-item" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#ModalPerfil">Perfil</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('logout')}}" style="cursor: pointer;">Cerrar sesión</a></li>
                            <li><hr class="dropdown-divider"></li>
                            {% endif %}
                            <li><a class="dropdown-item" style="cursor: pointer;" onclick="sweetAlert2('Verflix','Desarrollado por el Grupo 13:<br><br>Francisca Ibáñez<br>Humberto Jiménez<br>Juan Antonio Soto<br><br>Enero 2025','info'); return false;">Acerca de</a></li>
                        </ul>
                    </div>
                </div>
              </div>
            </div>
        </header>
        <div class="b-divider"></div>
        <div style="background-color: #1c1f23; height: 90%;">
            {% block content %}{% endblock %}

            {% block scripts %}
                <!-- Optional JavaScript -->
                {{ bootstrap.load_js() }}
            {% endblock %}
        </div>
        <div class="container mt-auto">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-6 mb-0 text-secondary">© 2025 Verflix - v.1.0</p>
                <p class="col-md-6 mb-0 text-secondary" style="text-align: right;">Grupo 13</p>
            </footer>
        </div>
    </body>
</html>
