{% extends 'base.html' %}

{% block content %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-12 col-lg-6">
            <img src="{{ url_for('static', filename='images/image0.png') }}" class="d-block mx-lg-auto img-fluid" title="Verflix" width="700" height="400" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3" style="color: #b50303;">Verflix</h1>
            <p class="lead fw-bold">Deja de buscar y ponte cómodo, que la diversión está por comenzar!.</p>
            <p class="lead">
                Encuentra tu próxima película o serie en segundos y en base a tus preferencias.
            </p>
            <div class="d-grid gap-2">
                {% if usr %}
                <a class="btn btn-primary btn-lg px-4 me-md-2" href="{{ url_for('chat')}}">
                    Ingresar
                </a>
                {% else %}
                <a class="btn btn-primary btn-lg px-4 me-md-2" href="{{ url_for('login')}}">
                    Ingresar
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if usr %}
{% include 'perfil.html' %}
{% endif %}
{% endblock %}
