{% extends 'base.html' %}

{% block content %}
<div class="container col-md-6 px-2 py-2 h-100">
    <form method="POST" action="{{ url_for('login')}}" id="login" class="needs-validation" novalidate>
        <div class="card" style="max-height: 600px; vertical-align: middle;">
            <div class="card-header" style="text-align: center;">
                Login
            </div>
            <div class="card-body">
                <div class=" px-4 py-5" >
                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <input type="email" id="email" name="email" class="form-control" value="{{email}}" required />
                        <div class="invalid-feedback">
                            Email es obligatorio y debe tener el formato correcto!
                        </div>
                    </div>
                    <div class="form-group" id="show_hide_password">
                        <label class="form-label" for="password">Contraseña</label>
                        <input type="password" id="password" name="password" class="form-control" required />
                        <div class="invalid-feedback">
                            Contraseña es obligatoria!
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <br/>
                        <button class="btn btn-primary px-4 me-md-2" onclick="submitLogin(this);">
                            <div class="d-flex justify-content-center">
                                <span id="text">Login</span>
                                <span class="spinner-border spinner-border-sm" id="spinner" style="display: none;"></span>
                            </div>
                        </button>   
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <p>No tienes cuenta? <a href="{{ url_for('signup')}}">Regístrate</a></p>
            </div>
        </div>
    </form>
    <div style="text-align: center;">
        <br/>
        <p><a class="link-opacity-50" href="/">Ir a Inicio</a></p>
    </div>
</div>
<script language="javascript" src="{{ url_for('static', filename='js/formvalidation.js') }}"></script>
{% with messages = get_flashed_messages()%}
{% if messages%}
    {% for message in messages%}
    <script>
        sweetAlert2('Error','{{message}}','error');
    </script>
    {%endfor%}
{%endif%}
{%endwith%}
{% endblock %}