<form method="POST" id="form1" action="{{ url_for('profile')}}">
    <div class="modal fade" tabindex="-1" id="ModalPerfil" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ModalLabel">
                        Editar Perfil del Usuario
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <input type="text" id="email" name="email" class="form-control" value="{{usr.email}}" disabled />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="nombre">Nombre</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" value="{{usr.name}}" maxlength="100" required />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="fav_movies">Películas Favoritas</label>
                        <input type="text" id="fav_movies" name="fav_movies" class="form-control" value="{{usr.fav_movies}}" maxlength="100" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="fav_series">Series Favoritas</label>
                        <input type="text" id="fav_series" name="fav_series" class="form-control" value="{{usr.fav_series}}" maxlength="100" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="kind_movies">Géneros Favoritos</label>
                        <input type="text" id="kind_movies" name="kind_movies" class="form-control" value="{{usr.kind_movies}}" maxlength="100" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" title="Guardar">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="Cerrar sin guardar">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>